.gt-request {
    margin-top: 86px;
    margin-left: 260px;
    margin-right: 5px;
    width: 100%;
}

.tr-container {
    width: 100%;
}

.tr-card {
    padding: 5px;
    text-align: left;
    width: 70%;
    background-color: #dfe7d7;
    margin: auto;
}

.tr-members {
    margin-left: 10px;
}

.tr-btn {
    margin-top: 10px;
    justify-content: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tr-accept-btn {
    background-color: #4a5c38;
    border: none;
    border-radius: 5px;
    width: 100px;
    color: white;
}

.tr-decline-btn {
    background-color: white;
    color: #4a5c38;
    border: 1px solid #4a5c38;
    margin-right: 10px;
    border-radius: 5px;
    width: 100px;
}

.tr-accept-btn:hover {
    background-color: #5c6751;
    cursor: pointer;
}