p{
    text-align: left;
}
.container{
    color:rgb(12, 25, 206)
}
.travsuph2{
    color:#1869f5;
}
.guidesuph2{
    color:#1869f5;
    text-align: center;
    margin-top: 500px;
}
.sentence{
    color:gray;
}
.guidesentence{
    color:gray;
    text-align: center;
}
.signupcontainer{
    text-align: left;
}
.signup-container {
    width: 100%;
    height: 500px;
    background-color: #1869f5;
    margin-top:40%;
}
.phone{
    width:100%;
}
.signuppic {
    margin: 5px;
    width: 500px;
}
.logo {
    margin: 5px;
    width: 50px;
}
.password-field{
padding:0.5rem 1rem;
font-size: large;
color: blue;
background-color: blue;
}
.input-element-wrapper{
    display:flex;
}
.pbtn{
    position:absolute;
    right:40px;
    top:20px;
    bottom:0;
    height:100%;
    display:flex;
    align-items:center;
    color: black;
    cursor:pointer;
}
.signupbtns{
position:relative;
margin-bottom: 10px;

}
.signuptoggle-trbtn{
background: #1688a7c0; 
cursor:pointer;
padding: 5px 10px;
outline:none;
margin-left: 42px;
border:none;
color:white;
border-radius: 10px;
margin-top:10px;
}
.signuptoggle-epbtn{
    background: #1688a786; 
    cursor:pointer;
    padding: 5px 10px;
    outline:none;
    margin-left: 42px;
    border:none;
    color:white;
    border-radius: 10px;
    margin-top:10px;
}
.signuptoggle-tgbtn{
    background: #1688a786; 
    cursor:pointer;
    padding: 5px 10px;
    outline:none;
    margin-left: 42px;
    border:none;
    color:white;
    border-radius: 10px;
    margin-top:10px;
}
.eqahref:link,.eqahref:visited,.tgahref:link,.tgahref:visited,.traahref:link,.traahref:visited{
    color:white;
    text-decoration: none;
}
.loginahref{
    color:rgb(13, 65, 236);
    text-decoration: none;
}
.guideDOB{
    color:gray;
    position:absolute;
    right:520px;
    top:365px;
}
.forgotpasswordform{
    margin-top: 50px;
    color:#276678;
    font-weight:bold;
    text-align: center;
}
.resetpasswordform{
    margin-top: 30px;
    color:#276678;
    font-weight:bold;
}
.forgotpasswordemail{
    margin-top: 20px;
    border-color:#1869f5 ;
}
.forgotpasswordh1{
    margin-top: 50px;
    color:#1687A7;
}
.forgotpasswordp{
    margin-top: 20px;
    font-size: 20px;
    color:#276678;
}
#travelersignup{
left:50px;
}
#equipmentsignup{
left:55px;
}
@media only screen and (max-width:700px){
    .signuppic{
        max-width:100%;
        width:500px;
    }
}