.trvd_buttonArea {
    text-align: right;
    
}
.trvd_Selectbutton {
    position: relative;
    right: 0%;

}
.trvd_rspkm {
    background-color: #e9ecef !important;
    border-top: 1px solid #ced4da !important;

}