.projectsh2{
    color:#276678

}
.projectsh5{
    margin-top:20px;
    color:orange;
}
.donationicons{
    color:#276678;
    font-size: 50px;
}
.donationcard-title{
    color:black;
    text-align: center;
}
.donationcard-text{
    text-align: center;
}
.donationcardcontainer{
    align-items: center;
    margin-right: 100px;
    margin-top: 20px;

}