.tr_leftCol {
    /* background-color: aqua; */
    /* width: 5%; */
    
    /* height: 100%; */

}
.tr_rightCol {
    /* background-color: blanchedalmond; */
    /* height: 100%; */
    border-left: 1px solid rgb(175, 175, 175);
    /* height: max-content; */

}
.tr_main {
    /* background-color: blueviolet; */
    height: 100%;
    width: 100%;
    padding: 6%;
    padding-right: 4%;
    padding-left: 4%;

}
.tr_leftColLowerDiv {
    /* background-color: brown; */
    /* border-top: 1px solid gray; */
    padding: 20%;
    padding-bottom: 2%;
    position: relative;
    top: 40%;

}
.tr_menuDiv {
    padding-top: 2%;
    padding-left: 10% !important;
    height: 100px !important;
    /* background-color: darksalmon; */
    height: 35%;
    padding-bottom: 5%;

}
.tr_mainMenuRow {
    padding: 1%;

}
.tr_contMenu {
    /* background-color: beige; */
}
.tr_rightColUpperDiv {
    /* background-color: rgb(250, 144, 15); */
    /* border-bottom: 1px solid gray; */
    /* padding-top: 10%; */
    /* padding-bottom: 0% !important; */
    font-size: 30px;

}
.trnspd_vehicleType {
    /* color: blue; */
    font-size: 20px;

}
.tr_rightContainer {
    /* background-color: rosybrown; */
    position: relative;
    top: 20%;
    
}