
.welcomeDiv {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
}

.welcomeNote {
    color: #276678;
    font-weight: bold;
}

.welcome-btn {
    border: 3px solid #276678 !important;
    color: #276678 !important;   
    font-weight: bold !important; 
    font-size: large !important;
}

.welcome-btn:hover {
    background-color: #276678 !important;
    color: #F6F5F5 !important;
}