.trm_wholeIcon {
    /* border: 1px solid black ; */
    padding: 5%;
    width: 150%;
    font-weight: 5px;

}
.trm_icon {
    border: 1px solid rgb(61, 61, 61);
    border-top: 10%;
    /* height: 20% !important; */
    border-radius: 10%;
    height: 5% !important;
    
    
}
.trm_icon:hover {
    /* background-color: antiquewhite; */
    border: 2px solid rgb(5, 77, 73);

}