.all-hotels-container {
    width: 60%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    margin-right: 10px;
}

.all-hotels-icon {
    margin-right: 5px;
}

.all-hotels-add-btn {
    background-color: #1687A7;
    border-radius: 5px;
    border: none;
    color: #F6F5F5;
}

.all-hotels-add-btn:hover {
    background-color: #276678;
}

.all-hotels-hotel {
    margin-top: 5px;
    padding: 3px;
    border-radius: 5px;
}

.all-hotels-hotel:hover {
    background-color: #D3E0EA;
}

.all-hotels-icons {
    margin-top: auto;
    margin-bottom: auto;
}

.all-hotels-edit-icon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.all-hotels-edit-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.all-hotels-hr {
    margin-bottom: 0;
    margin-top: 5px;
}

.hotel-income-chart {
    width: 99%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    margin-top: 10px;
}

.hotel-income-title-description {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
}

.back-btn {
    background-color: #1687A7;
    width: max-content;
    border: none;
    border-radius: 5px;
    color: #F6F5F5;
}

.back-btn-link {
    text-align: left;
}
