.tg-profile {
    margin-top: 86px;
    margin-left: 260px;
    width: 100%;
    height: 100%;
}

.tg-reviews {
    width: 100%;
    height: 100%;
}

.pc-container {
    width: 40% !important;
    /* height: 100vh; */
    /* background-color: aqua; */
}

.pc-card {
    /* width: 250px; */
    height: 250px;
    border: none !important;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    border-radius: 5px;
}

.pc-pic {
    height: 150px;
    width: 150px;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.pc-name {
    color: #276678 !important;
}

.pd-container {
    width: 100%;
    margin-left: 5px;
    margin-right: 10px !important;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    border: none !important;
    border-radius: 5px !important;
}

.pd-row {
    width: 100%;
    height: 56px;
    padding: 10px;
}

.pd-h6 {
    width: 30%;
    text-align: left;
}

.pd-details {
    color: rgb(121, 121, 121) !important;
}

.pd-edit-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 80%;
}

.pd-edit-btn {
    background-color: #1687A7;
    color: #F6F5F5;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    
}

.pd-edit-btn:hover {
    background-color: #276678;
}

.gr-container {
    width: 100%;
    margin-top: 10px !important;
    margin-right: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    border: none !important;
    border-radius: 5px;
}

.gr-experience {
    margin-left: 10px;
    text-align: left;
    width: 25% !important;
}

.gr-progress {
    width: 75% !important;
    align-items: center;
    margin: auto;
}